<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Stock</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="header">
        <h1>Historial de Movimientos</h1>
    </div>
    
    <div class="mov">
        <ul>
            {% for movimiento in movimientos %}
            <li>
                <strong>#{{ movimiento[0] }}</strong> - Movimiento de {{ movimiento[1] }} - {{ movimiento[2] }}
                <button id="ver-detalle" onclick="verDetalleMovimiento('{{ movimiento[0] }}')">Ver Detalles</button>
            </li>
            {% endfor %}
        </ul>

        <div id="detalleModal" style="display:none;">
            <h2>Detalle de Movimiento <strong id="detalleGrupoId"></strong></h2>
            <ul id="detalleLista"></ul>
            <button id="cerrar-detalle" onclick="cerrarDetalle()">Cerrar</button>
        </div>
    </div>
    
    {% load static %}
    <script>
    function verDetalleMovimiento(grupoId) {
        document.getElementById("detalleGrupoId").textContent = `#${grupoId}`; // Mostrar ID en el encabezado del modal
        fetch(`/detalle_movimiento/${grupoId}`)
            .then(response => response.json())
            .then(data => {
                const detalleLista = document.getElementById("detalleLista");
                detalleLista.innerHTML = "";
                data.forEach(item => {
                    const li = document.createElement("li");
                    li.innerHTML = `<span class="producto">${item[0]}</span>
                                    <span class="peso">Peso: ${item[1]}g</span>
                                    <span class="tipo">Tipo: ${item[2]}</span>
                                    <span class="fecha">Fecha: ${item[3]}</span>`;
                    
                    li.onclick = function() {
                        resaltarElemento(li);
                    };

                    detalleLista.appendChild(li);
                });
                document.getElementById("detalleModal").style.display = "block";
            });
    }

    // Función para resaltar el elemento seleccionado
    function resaltarElemento(element) {
        // Quitar resaltado de otros elementos
        document.querySelectorAll("#detalleLista li").forEach(li => li.classList.remove("resaltado"));
        
        // Agregar clase resaltado al elemento clicado
        element.classList.add("resaltado");
    }

    function cerrarDetalle() {
        document.getElementById("detalleModal").style.display = "none";
    }
    </script>
</body>
</html>
